body {
	font-family: Arial;
	padding: 20px;
}

.form-row {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

input, button {
	padding: 7px;
	font-size: 14px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
}

button {
	cursor: pointer;
}
